{% extends 'main.html.twig' %}

{% block title %}Partitura index{% endblock %}

{% block formSection %}
    <h1>Partitura index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>RolInstrumento</th>
                <th>Fichero</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partitura in partituras %}
            <tr>
                <td>{{ partitura.id }}</td>
                <td>{{ partitura.rolInstrumento }}</td>
                <td>{{ partitura.fichero }}</td>
                <td>
                    <a href="{{ path('partitura_show', {'id': partitura.id}) }}">show</a>
                    <a href="{{ path('partitura_edit', {'id': partitura.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('partitura_new') }}">Create new</a>
{% endblock %}
