{% extends 'base.html.twig' %}

{% block title %}Socio index{% endblock %}

{% block body %}
    <h1>Socio index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>PrimerApellido</th>
                <th>SegundoApellido</th>
                <th>DNI</th>
                <th>FechaAlta</th>
                <th>FechaBaja</th>
                <th>Tipo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for socio in socios %}
            <tr>
                <td>{{ socio.id }}</td>
                <td>{{ socio.Nombre }}</td>
                <td>{{ socio.primerApellido }}</td>
                <td>{{ socio.segundoApellido }}</td>
                <td>{{ socio.DNI }}</td>
                <td>{{ socio.fechaAlta ? socio.fechaAlta|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ socio.fechaBaja ? socio.fechaBaja|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ socio.Tipo }}</td>
                <td>
                    <a href="{{ path('socio_show', {'id': socio.id}) }}">show</a>
                    <a href="{{ path('socio_edit', {'id': socio.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('socio_new') }}">Create new</a>
{% endblock %}
