{% extends 'main.html.twig' %}

{% block title %}Noticia{% endblock %}

{% block formSection %}
    <h1>Evento</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ noticium.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ noticium.titulo }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ noticium.fecha ? noticium.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ noticium.descripcion }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ noticium.imagen }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('noticia_index') }}">back to list</a>

    <a href="{{ path('noticia_edit', {'id': noticium.id}) }}">edit</a>
{% endblock %}
