{% extends 'main.html.twig' %}

{% block title %}Socio index
{% endblock %}

{% block formSection %}
	<h1>Socio index</h1>
	<table class='table'>
		<tr>
			{# sorting of properties based on query components #}
			<th>Id</th>
			<th>Nombre</th>
			<th>PrimerApellido</th>
			<th>FechaAlta</th>
			<th>actions</th>
		</tr>
	</th>
</tr>

{# table body #}
{% for article in pagination %}
	<tr {% if loop.index is odd %} class='color' {% endif %}>
		<td>{{ article.id }}</td>
		<td>{{ article.Nombre }}</td>
		<td>{{ article.primerApellido }}</td>
		<td>{{ article.fechaAlta ? article.fechaAlta|date('d-m-Y') : '' }}</td>
		<td>
			<a href="{{ path('socio_show', {'id': article.id}) }}">show</a>
			<a href="{{ path('socio_edit', {'id': article.id}) }}">edit</a>
		</td>
	</tr>
{% else %}
	<tr>
		<td colspan='6'>no records found</td>
	</tr>
{% endfor %}</table>{# display navigation #}<div class='navigation d-flex justify-content-center'>
{{ knp_pagination_render(pagination) }}</div>{% endblock %}
