<article>
	<div class='row'>
		<div class='col-xl-12 col-lg-12 text-center'>
			{{ form_start(form, {'attr': {'class': 'mt-5 offset-4'}}) }}
			<div class='input-group mb-6 pb-5'>
				<div class='form-group col-md-6'>
					{{ form_label(form.Nombre, 'NOMBRE') }}
					{{ form_widget(form.Nombre,{'attr': {'class': 'required input_field form-control'}}) }}
				</div>
			</div>

			<div class='input-group mb-6 pb-5'>
				<div class='form-group col-md-6'>
					{{ form_label(form.primerApellido, 'PRIMER APELLIDO') }}
					{{ form_widget(form.primerApellido,{'attr': {'class': 'required input_field form-control'}}) }}
				</div>
			</div>
			<div class='input-group mb-6 pb-5'>
				<div class='form-group col-md-6'>
					{{ form_label(form.segundoApellido, 'SEGUNDO APELLIDO') }}
					{{ form_widget(form.segundoApellido,{'attr': {'class': 'required input_field form-control'}}) }}
				</div>
			</div>

			<div class='input-group mb-6 pb-5'>
				<div class='form-group col-md-6'>
					{{ form_label(form.fechaAlta, 'FECHA DE ALTA') }}
					{{ form_widget(form.fechaAlta,{'attr': {'class': 'required input_field form-control'}}) }}
				</div>
			</div>

			<div class='input-group mb-6 pb-5'>
				<div class='form-group col-md-6'>
					{{ form_label(form.fechaBaja, 'FECHA DE BAJA ') }}
					{{ form_widget(form.fechaBaja,{'attr': {'class': 'required input_field form-control'}}) }}
				</div>
			</div>

			<div class='input-group mb-6 pb-5'>
				<div class='form-group col-md-6'>
					{{ form_label(form.idSocio, 'SOCIO VINCULADO') }}
					{{ form_widget(form.idSocio,{'attr': {'class': 'required input_field form-control'}}) }}
				</div>
			</div>


			<div class='input-group mb-6 pb-3'>
				<div class='input-group mt-5'>
					<div class='form-group col-md-6'>
						<button class='btn btn-primary btn-lg'>{{ button_label|default('Guardar') }}</button>
					</div>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
</article>
