{% extends 'base.html.twig' %}

{% block title %}Alumno index{% endblock %}

{% block body %}
    <h1>Alumno index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>PrimerApellido</th>
                <th>SegundoApellido</th>
                <th>FechaAlta</th>
                <th>FechaBaja</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alumno in alumnos %}
            <tr>
                <td>{{ alumno.id }}</td>
                <td>{{ alumno.Nombre }}</td>
                <td>{{ alumno.primerApellido }}</td>
                <td>{{ alumno.segundoApellido }}</td>
                <td>{{ alumno.fechaAlta ? alumno.fechaAlta|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ alumno.fechaBaja ? alumno.fechaBaja|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('alumno_show', {'id': alumno.id}) }}">show</a>
                    <a href="{{ path('alumno_edit', {'id': alumno.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('alumno_new') }}">Create new</a>
{% endblock %}
